This notebook will be mainly used for the capstone project

In [2]:
import pandas as pd
import numpy as np

In [4]:
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [2]:
import requests # library to handle requests

import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize
!pip install lxml

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Requirement already satisfied: lxml in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.3.1)
Solving environment: done

# All requested packages already installed.

Folium installed
Libraries imported.

In [9]:
# import dataframe from Wikipedia and create dataframe

wiki_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

toronto_df=pd.read_html(wiki_url, header=0)[0]

toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [14]:
# drop Not assigned boroughs

toronto_df = toronto_df[toronto_df.Borough!= 'Not assigned']
toronto_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [24]:
#reset the index
import numpy as np
toronto_df.index = np.arange(0,len(toronto_df))
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [ ]:
#merge rows with the same postcode